@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    /*Modifica a maneira de exibir o tamanho de uma caixa,
     define como as dimensões de um elemento são calculadas:
      devem inculir preenchimento de bordas ou não */
}

body{
    background-image: url("../img/fundo1.jpg");
    background-position: 0px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    font-family: "Open sans", sans-serif;
}

.cabecalho {
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.836);
    color:rgb(255, 0, 0);
}

.topnav {

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.712);
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: beige;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.432);
    color: rgb(255, 0, 0);
    border-bottom: solid 1px rgb(255, 0, 0);
    border-radius: 15px;
}

option{
    text-align: center;
    background-color: rgb(0, 0, 0, 0.87);
    color: red
}

.mensagem-erro{
    color: red;
}

